:root {
  /* Colors */
  --red: #d22e25;
  --red-dark: #b82520;
  --red-light: #e54d45;
  --gold: #c8960f;
  --gold-light: #e6b429;
  --blue: #3891b1;
  --blue-light: #4299e1;
  --grey: #4a5568;
  --grey-light: #718096;
  --white: #ffffff;

  --gray-1: #f1f3f4;
  --gray-2: #F8F9FA;
  --gray-3: #6C757D;

  --border-color: #e2e8f0;

  --foreground: #2d3748;

  /* Spacing */
  @for $i from 0 through 50 {
    --space-#{$i}: #{if($i == 0, 0, ($i * 0.25rem))};
  }

  /* border */
  --border-width: 0.0625rem;

  /* specific widths */
  --max-container-width: 150rem;
  --max-sidebar-width: 30rem;
  --layer-selector-width: 16rem;

  /* Typography */
  // TODO!
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;

  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;

  /* Border radius */
  --radius-1: 0.125rem;
  --radius-2: 0.25rem;
  --radius-3: 0.5rem;
  --radius-4: 1rem;
  --radius-full: 50%;

  /* Shadows */
  --shadow-1: 0 0.625rem 1rem -0.25rem rgba(0, 0, 0, 0.1), 0 0.25rem 0.5rem -0.25rem rgba(0, 0, 0, 0.05);
}
