@use 'variables';

body {
  background-color: var(--white);
  color: var(--foreground);
  font-family: 'Source Sans 3', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-size: 1rem;
}

.icon {
  display: block;
  width: var(--space-8);
  height: var(--space-8);
}

.text-sm {
  color: var(--gray-3);
  font-size: var(--space-3);
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
}

.text-md {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
