@use 'variables';

body {
  background-color: var(--white);
  color: var(--foreground);
  font-family: 'Source Sans 3', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-size: 1rem;
}
